.card {
  display: flex;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
